.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading
        %h3.text-center About Us
      .panel-body
        Experience has made us very aware that there is a need for a platform to connect ideas with financing to help budding entrepreneurs take their concept from a business plan to a reality. We would get calls all day long from investors asking us if we knew of any "good investments". We also saw many talented chefs and business persons come through with a dream but not quite enough financing. The world does not need to be filled with corporate giants. Some of the best food comes out of smaller unknown restaurants because the heart and soul of the chef goes into every dish. Our site will allow registered members, that qualify, to search for business plans and concepts in which they would like to make an investment.
