.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading
        %h2 About Us
      .panel-body
        Experience has made us very aware that there is a need for a platform to connect ideas with financing to help budding entrepreneurs take their concept from a business plan to a reality. We would get calls all day long from investors asking us if we knew of any "good investments". We also saw many talented chefs and business persons come through with a dream but not quite enough financing. The world does not need to be filled with corporate giants. Some of the best food comes out of smaller unknown restaurants because the heart and soul of the chef goes into every dish. Our site will allow registered members, that qualify, to search for business plans and concepts in which they would like to make an investment.
        %h3 How it Works
        %p The membership of The Maple and Oak Network succeeds because of the quality of its members and some basic rules that everyone adheres to. We reserve the right to deny service to any member or prospective member at any time if they do not play by the rules.

        %p No Soliciting. Do not offer to "sell" anything to a member upon first contact. Focus on introducing yourself and the benefits you provide, not outwardly hawking a product or service.

        %p No Misrepresentation. Please be as honest and forthright about yourself and your offer as possible. Members are encouraged to report any communications that they consider to be misleading or any members that appear to be misrepresenting themselves.

        %p No Leeches. A leech is someone who doesn’t respect the interests of the community and attempts to abuse the system for their own benefit. They take constantly and offer nothing in return. The Network succeeds because of our community’s ability to give. Don’t be a leech.


