%h1.text-center What best describes you?
.container.buttons.text-center
  %p
    = button_to "I am an entrepreneur", new_user_registration_path, class: "text-center btn btn-primary btn-lg", method: "get"
  %p
    = button_to "I am an investor", new_user_registration_path, class: "text-center btn btn-primary btn-lg", method: "get"
  %p
    Already registered?
    = link_to "Sign In", new_user_session_path

