!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Oops. Your Profile Needs Some More Information.
    %p
      Visit #{@url} to complete your profile and re-submit it for approval.
