!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Congrats! Your Profile Has Been Approved!
    %p
      Visit #{@url} to publish your profile and allow investors to view it.
