.col-md-9.col-md-offset-1
  .inbox-panel.panel.panel-default
    .panel-body
      / Nav tabs
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", href: "#inbox"}
            %span.glyphicon.glyphicon-inbox>
            Inbox
        %li
          %a{"data-toggle" => "tab", href: "#sentbox"}
            %span.fa.fa-mail-reply
            Sent
        %li
          %a{"data-toggle" => "tab", href: "#trash"}
            %span.fa.fa-trash-o
            Trash
      .tab-content
        #inbox.tab-pane.fade.in.active
          .list-group
          - if @inbox.any?
            = render partial: "conversation", collection: @inbox
          - else
            .list-group-item
              No new messages.
        #sentbox.tab-pane.fade.in
          .list-group
          - if @sentbox.any?
            = render partial: "conversation", collection: @sentbox
          - else
            .list-group-item
              No sent messages.
        #trash.tab-pane.fade.in
          .list-group
          - if @trash.any?
            = render partial: "conversation", collection: @trash
          - else
            .list-group-item
              Nothing in the trash.
