.opaque-container.col-md-6.col-md-offset-3
  .row
    .col-md-12.text-center
      %h1 Welcome to Maple and Oak!
      = link_to "Start filling out your profile", new_project_path, class: "btn btn-primary btn-lg"
