%h1 Profile
.user-information
  %ul
    %li= @user.full_name
    %li= @user.user_type.capitalize
    %li= @user.email
    - if @user.projects.count < @project_limit
      = link_to "Add project", new_project_path
