$red: #B9121B;
$dark-red: #5C1014;
$maroon: #4C1B1B;
$tan: #F6E497;
$white: #FCFAE1;
$gold: #BD8D46;

$logo-red: #b92025;
$logo-gold: #be8f47;
$logo-dark-red: #4c1b1b;

$link-color: $red ;
$link-hover-color: $maroon;
$brand-primary: $red;
