@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}

a:hover { text-decoration: none; }

.jumbotron
{
  color: white;
  @include alpha-attribute('background-color', rgba($red, 0.3), white);
}

.opaque-container
{
  color: black;
  @include alpha-attribute('background-color', rgba(white, 0.7), black);
  padding: 20px;
}

.company-image
{
  padding-right: 20px;
}

.navbar-brand { padding: 25px 30px; }
.top-buffer { padding-top: 20px; } .bottom-buffer { padding-bottom: 20px; }

.btn-group-item {
  margin: 0 10px 10px 0; 
}
