@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

a:hover { text-decoration: none; }

.opaque-container
{
  color: black;
  @include alpha-attribute('background-color', rgba(white, 0.7), black);
  padding: 20px;
}


.container {
  max-width: 1100px;
}

.company-image
{
  padding-right: 20px;
}

.navbar-brand {
  padding: 25px 30px;
  position: relative;
  left: 30px;
}
.top-buffer { padding-top: 20px; } .bottom-buffer { padding-bottom: 20px; }

.btn-group-item {
  margin: 0 10px 10px 0; 
}

.navbar-default {
  .container-fluid {
    max-width: 1000px;
    padding-left: 0;
    padding-right: 0;
  }
}

.input-form {
  input, textarea {
    margin-bottom: 10px;
  }
}

.ad-small {
  margin-top: 10px;
}

.ad-image {
  padding: 20px 20px 0px 20px;
}

.small-ad-logo { display: inline; }

.image-and-copy {
//  border: solid 1px black;
  padding: 10px;
}

.ad-lower {
  padding-top: 15px;
}
