.static_pages-home, .static_pages-about, .static_pages-terms, .contacts-new, .profiles-index {
  .wrapper {
    background: image-url("restaurant_tables.jpg") no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;

    .container {
      .jumbotron {
        max-width: 850px;
        margin: 0 auto;
        color: white;
        @include alpha-attribute('background-color', rgba($logo-gold, 0.9), white);
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}


body.sessions-new, body.registrations-new
{
  background: image-url("bar_3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.users-show, body.conversations-index, body.registrations-edit, body.profiles-edit, body.subscriptions-edit, body.registrations-update, body.plans-signup, body.profiles-new, body.profiles-create
{
  background: image-url("bar_3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  .profile-information {
    h1 {
      padding-top: 0;
      margin-top: 0;
    }
  }
  .action-buttons {
    margin-top: 15px;
  }
}

body.profiles-edit {
  .button {
    padding: auto 10px 20px 0;
  }
}
