body.static_pages-home
{
  background: image-url("oak_trees.jpg") 0 -200px;
}

body.sessions-new
{
  background: image-url("woody_path_smaller.jpg");
}

body.registrations-new
{
  background: image-url("woody_path_smaller.jpg");
}

body.users-show
{
  background: image-url("oak_trees.jpg") 0 -200px;
  .profile-information {
    h1 {
      padding-top: 0;
      margin-top: 0;
    }
  }
  .action-buttons {
    margin-top: 15px;
  }
}

body.profiles-edit {
  background: image-url("brickwall.png") repeat;
  .button {
    padding: auto 10px 20px 0;
  }
}
