body.static_pages-home
{
  background: image-url("oak_trees.jpg") 0 -200px;
}

body.sessions-new
{
  background: image-url("woody_path_smaller.jpg");
}

body.registrations-new
{
  background: image-url("woody_path_smaller.jpg");
}

